@model Common.Taxonomy

@{
    ViewData["Title"] = "Create a Taxonomy";
}

<h2>Create a Taxonomy</h2>

<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Taxonomy name</label>
                <input type="text" name="name" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
   <button type="button" class="btn btn-danger">
       <a asp-action="Index">Back to List</a>
       </button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
