@model DgPadCMS.Models.createModel

@{
    ViewData["Title"] = "Edit";
    var localDateTime = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T'); 
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

<h4> Edit Post</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit" class="row g-3" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Image" />
            <input type="hidden" asp-for="PostId" />
            <input type="hidden" asp-for="CreationDate" value="localDateTime" />
            
             <div class="col-md-6">
                <label asp-for="AuthorFirst" class="control-label">First Name</label>
                <input asp-for="AuthorFirst" class="form-control" />
                <span asp-validation-for="AuthorFirst" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="AuthorLast" class="control-label">Last Name</label>
                <input asp-for="AuthorLast" class="form-control" />
                <span asp-validation-for="AuthorLast" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="PostTypeId" class="control-label"></label>
                <select asp-for="PostTypeId" id="categoryId" asp-items="@ViewBag.PostTypeId" class="form-control">
                    <option value="0">Choose a PostType</option>
                </select>
                <span asp-validation-for="PostTypeId" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="ContentCategory" class="control-label"></label>
                <select asp-for="ContentCategory" asp-items="@ViewBag.Category" class="form-control">
                    <option value="0">Choose a Category</option>
                </select>
                <span asp-validation-for="PostTypeId" class="text-danger"></span>
            </div>
            <div class="col-8">
                <label asp-for="Title" class="control-label">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="Article" class="control-label">Article</label>
                <textarea asp-for="Article" class="form-control"></textarea>
                <span asp-validation-for="Article" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="Summary" class="control-label">Summary</label>
                <input asp-for="Summary" class="form-control"/>
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="TermId" class="control-label" style="color:white;">Term</label>
                <div id="TermDrop">
                <select style="display:none" asp-for="TermId" id="TermId" class="form-control" placeholder="Pick a maximum of 3 Terms" multiple>
                    
                </select>
                </div>
            </div>
            <br>
            <div class="col-12">
                <p class="fs-6" style="color:slategrey"><i>Optional</i></p>
                <label asp-for="Image" class="control-label">Image</label>
                <input asp-for="ImageUpload" class="form-control" />
                <img src="" id="imgpreview" class="pt-2" alt="" />
                <span asp-validation-for="ImageUpload" class="text-danger"></span>
            </div>
             <div class="col-12">
                 <p class="fs-6" style="color:slategrey"><i>Optional</i></p>
                <label asp-for="VideoLink" class="control-label">VideoLink</label>
                <input asp-for="VideoLink" class="form-control"/>
                <span asp-validation-for="VideoLink" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
   <button type="button" class="btn btn-danger">
       <a asp-action="Index">Back to List</a>
       </button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
            CKEDITOR.replace("Article");

            $("#ImageUpload").change(function () {
                readURL(this);
            });
            
        $("#TermId").change(function () {
        $.ajax({
            url: '@Url.Action("GetSubCategoryByCategoryId")',
            type: 'POST',
            data: {
                categoryId: $('#categoryId').val(),
            },
            success: function(data) 
            {
                var ptypeSelected = $('#categoryId').find(":selected").text();
                data = JSON.parse(data);
                var toAppend = '';


                for (var i = 0; i<data.length; i++) 
                {
                    
                    var y = JSON.stringify(data[i]);
                    console.log(y);
                    var json = JSON.parse(y);
                
                    console.log(json);
                    toAppend += '<option value="' + json["id"].toString() + '">'+json["name"]+'</option>';
 
                }
                $('choices__list choices__list--multiple').remove;
                     $('#TermId').append(toAppend);
                     if(ptypeSelected == "Video")
                     {
                          $('#ImageTab').hide();
                          $('#VideoTab').show();
                    }
                    else
                    {
                        $('#VideoTab').hide();
                        $('#ImageTab').show();
                     }
                   
            },
            error: function () {
            }
            
        });
            
         var multipleCancelButton =
                new Choices('#TermId', { removeItemButton: true,  maxItemCount:5,  searchResultLimit:5, renderChoiceLimit:5  });

    });
       
   
      
    
    </script>
}
