

<div  style="position : absolute;width: 600px;height: 600px;left:50%;top: 50%;margin-left :-250px;margin-top: -200px">
    <div>
        <h1>Access Denied</h1>

    <p>
        <i class="bi bi-lock-fill" style="font-size: 95px"></i>

        <h2>Page is exclusively available for Admin(s)</h2>
    </p>
    
    </div>
    
</div>