/**********************************/
/********** General CSS ***********/
/**********************************/
body {
    color: #353535;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #ffffff;
}

a {
    color: #E47A2E;
    transition: 0.5s;
}

    a:hover,
    a:active,
    a:focus {
        color: #353535;
        outline: none;
        text-decoration: none;
    }

p {
    color: #353535;
    padding: 0;
    margin: 0 0 10px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #353535;
    margin: 0 0 15px 0;
    padding: 0;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #353535;
    color: #ffffff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

    .back-to-top:hover {
        background: #31bca4;
    }

    .back-to-top i {
        padding-top: 12px;
        color: #ffffff;
    }

.template-by{
    display:none;
}
/**********************************/
/********* Form Input CSS *********/
/**********************************/
.form-control,
.custom-select {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #353535;
    border-radius: 0;
    margin-bottom: 15px
}

    .form-control:focus,
    .custom-select:focus {
        box-shadow: none;
        border-color: #E47A2E;
    }

.custom-radio,
.custom-checkbox {
    margin-bottom: 15px;
}

    .custom-radio .custom-control-label::before,
    .custom-checkbox .custom-control-label::before {
        border-color: #353535;
        border-radius: 0;
    }

    .custom-radio .custom-control-input:checked ~ .custom-control-label::before,
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
        color: #ffffff;
        background: #E47A2E;
    }

button.btn {
    color: #353535;
    background: #ffffff;
    border: 1px solid #353535;
    border-radius: 0;
}

    button.btn:hover {
        color: #ffffff;
        background: #31bca4;
        border-color: #31bca4;
    }


/**********************************/
/********* Top Header CSS *********/
/**********************************/
.top-header {
    padding: 15px 0;
    background: #ffffff;
}

    .top-header .logo {
        text-align: left;
        overflow: hidden;
    }

        .top-header .logo a img {
            max-width: 100%;
            max-height: 60px;
        }

    .top-header .search {
        width: 100%;
    }

        .top-header .search input[type=text] {
            width: 100%;
            height: 40px;
            padding: 0 15px;
            color: #666666;
            border: 1px solid #353535;
        }

            .top-header .search input[type=text]:focus {
                border-color: #31bca4;
            }

        .top-header .search button {
            position: absolute;
            width: 40px;
            height: 38px;
            top: 1px;
            right: 16px;
            padding: 0 15px;
            border: none;
            background: none;
            color: #353535;
        }

            .top-header .search button:hover {
                background: #31bca4;
                color: #ffffff;
            }

    .top-header .social {
        position: relative;
        width: 100%;
        height: 40px;
        overflow: hidden;
        text-align: right;
    }

        .top-header .social a {
            display: inline-block;
            width: 40px;
            height: 40px;
            padding: 1px 0;
            text-align: center;
            font-size: 22px;
            border: 1px solid #353535;
        }

            .top-header .social a:hover {
                background: #31bca4;
                border: 1px solid #31bca4;
            }

            .top-header .social a i {
                color: #353535;
            }

            .top-header .social a:hover i {
                color: #ffffff;
            }

@media (min-width: 768px) {
    .top-header {
        max-height: 90px;
    }
}

@media (max-width: 767.98px) {
    .top-header .logo,
    .top-header .search,
    .top-header .social {
        text-align: center;
        margin-bottom: 15px;
    }

    .top-header .social {
        margin-bottom: 0;
    }
}


/**********************************/
/********* Header Nav CSS *********/
/**********************************/
.header {
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

    .header.header-sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
    }

    .header .navbar {
        height: 100%;
        padding: 0;
    }

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
}

    .navbar-dark .navbar-nav .nav-link:hover,
    .navbar-dark .navbar-nav .nav-link.active {
        background: rgba(228, 122, 46, .2);
        border-bottom: 2px solid #31bca4;
        transition: none;
        color:black;

    }

.header .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background-color: #212529;
    border-bottom: 1px ridge #31bca4;
}


@media (min-width: 768px) {
    .header, .header .navbar {
        background: #353535 !important;
    }

        .header .navbar-brand {
            display: none;
        }

        .header a.nav-link {
            padding: 8px 15px;
            font-size: 15px;
            text-transform: uppercase;
        }
}

@media (max-width: 768px) {
    .header,
    .header .navbar {
        background: #333333 !important;
    }

        .header a.nav-link {
            padding: 5px;
        }

        .header .dropdown-menu {
            box-shadow: none;
        }
}


/**********************************/
/********** Top News CSS **********/
/**********************************/
.top-news {
    position: relative;
    width: 100%;
    padding: 30px 0 0 0;
}

    .top-news .col-md-6 {
        margin-bottom: 30px;
    }

    .top-news .tn-img {
        position: relative;
        overflow: hidden;
        border: 2px double black;
    }

        .top-news .tn-img img {
            width: 100%;
        }

        .top-news .tn-img:hover img {
            filter: saturate(180%);

        }

    .top-news .tn-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 15px 10px 15px 20px;
        background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .3), rgba(0, 0, 0, .9));
        display: flex;
        align-items: flex-end;
    }

        .top-news .tn-content a.tn-date {
            display: block;
            width: 100%;
            margin-bottom: 5px;
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            transition: .3s;
            letter-spacing: 1px;
        }

            .top-news .tn-content a.tn-date i {
                margin-right: 5px;
            }


        .top-news .tn-content a.tn-title {
            display: block;
            width: 100%;
            color: #ffffff;
            font-size: 18px;
            font-weight: 400;
            transition: .3s;
        }

    .top-news .tn-left .tn-content a.tn-title {
        font-size: 35px;
        font-weight: 700;
    }

    .top-news .tn-content a.tn-title:hover {
        color: #E47A2E;
    }


/**********************************/
/******* Category News CSS ********/
/**********************************/
.cat-news {
    position: relative;
    width: 100%;
    padding: 0;
}

    .cat-news .col-md-6 {
        margin-bottom: 30px;
    }

    .cat-news h2 {
        color: #353535;
        font-size: 35px;
        font-weight: 700;
        margin-left: 40px;
    }

        .cat-news h2 i {
            position: absolute;
            top: 8px;
            left: 15px;
            font-size: 28px;
        }

    .cat-news .cn-img {
        position: relative;
        overflow: hidden;
        border: 2px double black;
    }

        .cat-news .cn-img img {
            width: 100%;
            height:160px;
        }

        .cat-news .cn-img:hover img {
            filter: blur(2px);
            -webkit-filter: blur(2px);
            border: 5px double #31bca4;
        }

    .cat-news .cn-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px 10px 10px 20px;
        background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .3), rgba(0, 0, 0, .9));
        display: flex;
        align-items: flex-end;
        color:white;
    }

        .cat-news .cn-content a.cn-date {
            display: block;
            width: 100%;
            margin-bottom: 5px;
            color: #ffffff;
            font-size: 14px;
            font-weight: 200;
            transition: .3s;
            letter-spacing: 0.5px;
            text-decoration: none;
            
        }

            .cat-news .cn-content a.cn-date i {
                margin-right: 5px;
            }


        .cat-news .cn-content a.cn-title {
            display: block;
            width: 100%;
            color: #ffffff;
            color: inherit;
            font-size: 18px;
            font-weight: 400;
            transition: .3s;
            text-decoration: none;
        }

        .cat-news .cn-content a.cn-title:hover {
            color: #E47A2E;
        }

    .cat-news .slick-prev,
    .cat-news .slick-next {
        top: -35px;
        width: 28px;
        height: 28px;
        z-index: 1;
        transition: .5s;
        color: #ffffff;
        background: #353535;
        text-decoration:none;
    }

    .cat-news .slick-prev {
        left: calc(100% - 85px);
    }

    .cat-news .slick-next {
        right: 14px;
    }

        .cat-news .slick-prev:hover,
        .cat-news .slick-prev:focus,
        .cat-news .slick-next:hover,
        .cat-news .slick-next:focus {
            color: #ffffff;
            background: #31bca4;
        }

        .cat-news .slick-prev::before,
        .cat-news .slick-next::before {
            font-family: "Font Awesome 5 Free";
            font-size: 18px;
            font-weight: 900;
            color: #ffffff;
        }

    .cat-news .slick-prev::before {
        content: "\f104";
    }

    .cat-news .slick-next::before {
        content: "\f105";
    }




/**********************************/
/********** Main News CSS *********/
/**********************************/
.main-news {
    position: relative;
    width: 100%;
    padding: 0;
}

    .main-news .col-md-6,
    .main-news .col-md-12 {
        margin-bottom: 30px;
    }

    .main-news h2 {
        color: #353535;
        font-size: 35px;
        font-weight: 700;
        margin-left: 40px;
    }

        .main-news h2 i {
            position: absolute;
            top: 8px;
            left: 15px;
            font-size: 28px;
        }

    .main-news .mn-img {
        position: relative;
        overflow: hidden;
    }

        .main-news .mn-img img {
            width: 100%;
        }

    .main-news .mn-content {
        position: relative;
        width: 100%;
        padding: 15px 0 0 0;
    }

        .main-news .mn-content a.mn-title {
            display: block;
            width: 100%;
            color: #353535;
            font-size: 28px;
            font-weight: 700;
            line-height: 32px;
            margin-bottom: 10px;
        }

            .main-news .mn-content a.mn-title:hover {
                color: #E47A2E;
            }

        .main-news .mn-content a.mn-date {
            display: block;
            width: 100%;
            margin-bottom: 5px;
            color: #757575;
            font-size: 14px;
            font-weight: 400;
            transition: .3s;
            letter-spacing: 1px;
        }

            .main-news .mn-content a.mn-date i {
                margin-right: 5px;
            }



        .main-news .mn-content p {
            margin: 0;
        }

    .main-news .mn-list {
        position: relative;
        width: 100%;
        float: left;
        margin-bottom: 30px;
    }

        .main-news .mn-list .mn-img {
            position: relative;
            width: 100px;
            margin-right: 15px;
            float: left;
            overflow: hidden;
        }

            .main-news .mn-list .mn-img img {
                width: 100%;
            }

        .main-news .mn-list .mn-content {
            position: relative;
            float: left;
            width: calc(100% - 115px);
            padding: 0;
        }

            .main-news .mn-list .mn-content a.mn-title {
                display: block;
                width: 100%;
                color: #353535;
                font-size: 18px;
                font-weight: 400;
                line-height: 20px;
                margin-bottom: 5px;
            }

                .main-news .mn-list .mn-content a.mn-title:hover {
                    color: #E47A2E;
                }

            .main-news .mn-list .mn-content a.mn-date {
                display: block;
                width: 100%;
                margin-bottom: 0;
                color: #757575;
                font-size: 14px;
                font-weight: 400;
                transition: .3s;
                letter-spacing: 1px;
            }

                .main-news .mn-list .mn-content a.mn-date i {
                    margin-right: 5px;
                }


/**********************************/
/*********** Sidebar CSS **********/
/**********************************/
.sidebar {
    position: relative;
    width: 100%;
}

    .sidebar .sidebar-widget {
        position: relative;
        width: 100%;
        margin-bottom: 45px;
    }

        .sidebar .sidebar-widget h2 {
            color: #353535;
            font-size: 35px;
            font-weight: 700;
            margin-left: 40px;
        }

            .sidebar .sidebar-widget h2 i {
                position: absolute;
                top: 8px;
                left: 0;
                font-size: 28px;
            }

        .sidebar .sidebar-widget .category {
            position: relative;
        }

            .sidebar .sidebar-widget .category .fa-ul {
                margin-left: 23px;
            }

                .sidebar .sidebar-widget .category .fa-ul li {
                    margin-bottom: 10px;
                }

                    .sidebar .sidebar-widget .category .fa-ul li i {
                        color: #353535;
                    }

                    .sidebar .sidebar-widget .category .fa-ul li a {
                        color: #353535;
                    }

                        .sidebar .sidebar-widget .category .fa-ul li a:hover {
                            color: #E47A2E;
                        }

        .sidebar .sidebar-widget .tags {
            position: relative;
        }

            .sidebar .sidebar-widget .tags a {
                display: inline-block;
                margin-bottom: 5px;
                padding: 5px 10px;
                color: #353535;
                background: #ffffff;
                border: 2px solid #353535;
            }

                .sidebar .sidebar-widget .tags a:hover {
                    color: #ffffff;
                    background: #31bca4;
                    border: 2px solid black;
                    text-decoration:none;
                }

        .sidebar .sidebar-widget .image a {
            display: block;
            width: 100%;
            overflow: hidden;
        }

        .sidebar .sidebar-widget .image img {
            max-width: 100%;
            transition: .3s;
        }

            .sidebar .sidebar-widget .image img:hover {
                transform: scale(1.1);
                filter: blur(3px);
                -webkit-filter: blur(3px);
            }


/**********************************/
/********* Breadcrumb CSS *********/
/**********************************/
.breadcrumb-wrap {
    position: relative;
    width: 100%;
    background: #ffffff;
}

    .breadcrumb-wrap .breadcrumb {
        margin: 25px 0 0 0;
        padding: 0;
        background: none;
        font-size: 18px;
        color: #31bca4;
        text-decoration:none;
    }
.breadcrumb-item {
    color: #31bca4;
}

.breadcrumb-wrap .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    color: #31bca4;
}

        .breadcrumb-wrap .breadcrumb .breadcrumb-item.active {
            color: #353535;
        }


/**********************************/
/********* Single News CSS ********/
/**********************************/
.single-news {
    position: relative;
    width: 100%;
    padding: 25px 0 0 0;
}

    .single-news .sn-img {
        position: relative;
        overflow: hidden;

    }

        .single-news .sn-img img {
            width: 100%;
        }

    .single-news .sn-content {
        position: relative;
        width: 100%;
        padding: 30px 0 30px 0;
    }

        .single-news .sn-content a.sn-title {
            display: block;
            width: 100%;
            color: #353535;
            font-size: 35px;
            font-weight: 700;
            line-height: 32px;
            margin-bottom: 10px;
        }

            .single-news .sn-content a.sn-title:hover {
                color: #E47A2E;
            }

        .single-news .sn-content a.sn-date {
            display: block;
            width: 100%;
            margin-bottom: 15px;
            color: #757575;
            font-size: 14px;
            font-weight: 400;
            transition: .3s;
            letter-spacing: 1px;
        }

            .single-news .sn-content a.sn-date i {
                margin-right: 5px;
            }



/**********************************/
/********** Contact CSS ***********/
/**********************************/
.contact {
    position: relative;
    padding: 25px 0 45px 0;
}

    .contact .map {
        position: relative;
        width: 100%;
    }

        .contact .map iframe {
            width: 100%;
            height: 300px;
        }

    .contact .contact-info h4 {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 400;
    }

        .contact .contact-info h4 i {
            color: #353535;
            margin-right: 5px;
        }

    .contact .social {
        position: relative;
        width: 100%;
    }

        .contact .social a {
            display: inline-block;
            margin: 10px 10px 0 0;
            width: 40px;
            height: 40px;
            padding: 3px 0;
            text-align: center;
            font-size: 20px;
            border: 1px solid #353535;
        }

            .contact .social a i {
                color: #353535;
            }

            .contact .social a:hover {
                background: #31bca4;
                border-color: #31bca4;
            }

                .contact .social a:hover i {
                    color: #ffffff;
                }

    .contact .form {
        color: #666666;
    }

@media (max-width: 767.98px) {
    .contact .form {
        margin-bottom: 30px;
    }
}


/**********************************/
/********** Footer CSS ************/
/**********************************/
footer{
    padding:0px;
    margin-left:0px;
    margin-right:0px;
}

footer .row{
    padding-top:15px;
    margin-left:0px;
    padding-bottom:15px;
}
#footer-up {
    width: 100%;
    height: 200px;
    background-color: #212529;
    box-sizing: initial;
    color: white;
    padding-right: 0px;
    border-top: 4px solid #31bca4;
}

.footer-txt 
{
    color: white;
    text-decoration: none !important;

}
#footer-up .title {
    color: #31bca4;
}
#footer-up a{
    color:inherit;
}
.foot-container {
    width: 100%;
    padding: 0;
    margin: 0;
}
@media (min-width: 900px) {
    .footer .container-fluid {
        width:100%;
    }
}




/**********************************/
/******** Footer Bottom CSS *******/
/**********************************/
#footer-low {
    padding: 10px;
    background: #212529;
    width: 100%;
    height: 70px;
    border-top: 1px solid grey;
    color: white;
}

/*ADS*/
.hover-img {
    color: white;
    display: inline-block;
    max-width: 320px;
    min-width: 240px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    margin-left:0px;
}

    .hover-img * {
        box-sizing: border-box;
        transition: all 0.6s ease;
    }

    .hover-img:before,
    .hover-img:after {
        background: #f1f7f26b;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        transition: all 0.3s ease;
        z-index: 1;
        opacity: 0;
        transform: scaleY(2);
    }

    .hover-img img {
        vertical-align: top;
        max-width: 90%;
        backface-visibility: hidden;
    }

    .hover-img figcaption {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.1em;
        opacity: 0;
        transition-delay: 0.2s;
        font-size: 17px;
        font-weight: 300;
        text-shadow: 2px 2px #f1f7f2c3;
        letter-spacing: 0.5px;
        color: white;
    }

    .hover-img:hover:before,
    .hover-img:hover:after {
        transform: scale(1);
        opacity: 1;
        color:white;
    }

    .hover-img:hover > img {
        opacity: 0.6;
    }

    .hover-img:hover figcaption {
        opacity: 100%;
        color:white;
    }
/************************************/

/*LOADING On Page Reload*/
#LoadingContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 999999;
    
}

.loadingspinner {
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    --square: 26px;
    --offset: 30px;
    --duration: 2.4s;
    --delay: 0.2s;
    --timing-function: ease-in-out;
    --in-duration: 0.4s;
    --in-delay: 0.1s;
    --in-timing-function: ease-out;
    width: calc( 3 * var(--offset) + var(--square));
    height: calc( 2 * var(--offset) + var(--square));
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
}

    .loadingspinner div {
        display: inline-block;
        background: darkorange;
        /*background: var(--text-color);*/
        /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);*/
        border: none;
        border-radius: 2px;
        width: var(--square);
        height: var(--square);
        position: absolute;
        padding: 0px;
        margin: 0px;
        font-size: 6pt;
        color: black;
    }

    .loadingspinner #square1 {
        color: #31bca4;
        background-color: #31bca4;
        left: calc( 0 * var(--offset) );
        top: calc( 0 * var(--offset) );
        animation: square1 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
    }

    .loadingspinner #square2 {
        color: #141499;
        background-color: #141499;
        left: calc( 0 * var(--offset) );
        top: calc( 1 * var(--offset) );
        animation: square2 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
    }

    .loadingspinner #square3 {
        color: #31bca4;
        background-color: #31bca4;
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
        animation: square3 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
    }

    .loadingspinner #square4 {
        color: #141499;
        background-color: #141499;
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
        animation: square4 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
    }

    .loadingspinner #square5 {
        color: #31bca4;
        background-color: #31bca4;
        left: calc( 3 * var(--offset) );
        top: calc( 1 * var(--offset) );
        animation: square5 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
    }

@keyframes square1 {
    0% {
        left: calc( 0 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }

    8.333% {
        left: calc( 0 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    100% {
        left: calc( 0 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
}

@keyframes square2 {
    0% {
        left: calc( 0 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    8.333% {
        left: calc( 0 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }

    16.67% {
        left: calc( 1 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }

    25.00% {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    83.33% {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    91.67% {
        left: calc( 1 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }

    100% {
        left: calc( 0 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }
}

@keyframes square3 {
    0%,100% {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    16.67% {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    25.00% {
        left: calc( 1 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }

    33.33% {
        left: calc( 2 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }

    41.67% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    66.67% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    75.00% {
        left: calc( 2 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }

    83.33% {
        left: calc( 1 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }

    91.67% {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
}

@keyframes square4 {
    0% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    33.33% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    41.67% {
        left: calc( 2 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }

    50.00% {
        left: calc( 3 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }

    58.33% {
        left: calc( 3 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    100% {
        left: calc( 3 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
}

@keyframes square5 {
    0% {
        left: calc( 3 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    50.00% {
        left: calc( 3 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    58.33% {
        left: calc( 3 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }

    66.67% {
        left: calc( 2 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }

    75.00% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }

    100% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
}

@keyframes squarefadein {
    0% {
        transform: scale(0.75);
        opacity: 0.0;
    }

    100% {
        transform: scale(1.0);
        opacity: 1.0;
    }
}

/*Video Grids*/
.videos1 {
    display: flex;
    justify-content: space-around;
    margin-left:6px;
    margin-right:6px;
    padding:3px;
}

.video1 {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.videos1.tn-content a.tn-date {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    transition: .3s;
    letter-spacing: 1px;
}

    .videos1 .tn-content a.tn-date i {
        margin-right: 5px;
    }


.videos1 .tn-content a.tn-title {
    display: block;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    transition: .3s;
}

.videos1 .tn-left .tn-content a.tn-title {
    font-size: 35px;
    font-weight: 700;
}

.videos1 .tn-content a.tn-title:hover {
    color: #E47A2E;
}
a.cn-title {
    display: block;
    width: 100%;
    color: #ffffff;
    color: inherit;
    font-size: 18px;
    font-weight: 400;
    transition: .3s;
    text-decoration: none;
}

    a.cn-title:hover {
        color: #E47A2E;
    }